/* default for all elements */

/* color palette: from https://designs.ai/colors/palette/1515 */

:root {
    --primary-color: #ebafbc; /* blue */
    --secondary-color: #d392cb; /* purple */
    --accent-color: #bbabee; /* red */
    --highlight-color: #668fb7; /* orange */
}

/* styles applied to everything */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: var(--secondary-color);
    font-weight: 400;
}

h4 {
    padding-bottom: 10px;
}

.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--highlight-color);
}

.container-header {
    padding-top: 50px;
    color: black;
    text-shadow: 0px 0px;
    font-weight: 500;
    text-align: center;
}

/* MAIN CONTENT (in index.html), justifies all content to the center */
.container-fluid {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    min-height: 500px;
}

.container {
    display: flex;
    padding: 0;
    overflow-y: auto;
}

.profile-container, .tasks-container {
    flex: 1;
    border: 1px solid #d1d1d1;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timer-container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* button style */
.btn {
    border: 0.3px solid black !important;
    height: 50px;
    width: 100px;
    transition: all 0.3s ease !important;
    background-color: white !important;
    border-radius: 5px;
}

/* button on hover */
.btn:hover {
    background-color: black !important;
    color: white !important;
    border-color: white !important;
}

/* style for typed inputs */
input[type="text"] {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: initial;
    text-align: center;
    font-size: 18px;
    color: var(--accent-color);
}

/* HOME PAGE */
#username {
    font-size: 25px;
    padding-bottom: 10px;
    color: var(--accent-color);
}

#timeTracked {
    color: var(--highlight-color);
}

/* profile picture */
#profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    border-radius: 50%;
    border: none;
}

#profile-img {
    cursor: pointer;
}

/* add task button */
#addButton {
    padding-top: 7px;
    font-size: 16px;
}
    
/* todo list input */
#todoInput {
    height: 50px;
    width: 50%;
    border-radius: 3px;
    border: 0.06px solid;
    border-color: black;
    padding: 0 10px;
    margin: 15px 0;
    font-size: 25px;
}

/* to do list text */
#todoList p {
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: flex;
    align-items: center;
    height: 25px;
}

/* to do list container */
.todo-container {
    display: flex;
    gap: 20px;
}

/* styles for to do list, completed and delete-btn from the inner html in home.js */

li {
    font-size: 25px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: var(--highlight-color);
    cursor: pointer;
}

.delete-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    position: relative;
    right: 10px;
    cursor: pointer;
}

/* TIMER */

/* select subject */
.selectSubject {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    transition: all 0.3s ease;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    margin-bottom: 10px;
}

#customSessionName {
    width: 200px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    text-align: center;
}

#manualDate, #manualTime {
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    text-align: center;
}

/* timer library from easytimer.js */
#chronoExample {
    padding: 20px;
    margin-top: 10px;
}

.values {
    font-size: 25px;
    margin-bottom: 15px;
}

/* STATISTICS */

/* container for statistics */
#chartContainer {
    padding: 50px;
    max-width:800px;
    margin: auto;
}

#manualTimeForm {
    margin-top: 20px;
}

/* chart itself */
#studyChart {
    height: 400px !important;
}

#todoList {
    display: flex;
    flex-direction: column;
}

/* OVERVIEW */
#activities-header {
    padding-bottom: 20px;
}

.overview-header {
    border: 1px solid #ccc;
    font-size: 30px;
    padding: 5px;
}

.subject-container, .session-container {
    flex: 1;
}

.note-container {
    flex: 2;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    font-size: 22px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    flex-grow: 1;
}

.list-item:hover {
    background-color: var(--accent-color);
}

.active {
    background-color: var(--accent-color); 
}

.delete-session  {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
    margin-left: auto;
}

#note {
    width: 100%;
    min-height: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 22px;
    line-height: 1.2;
    resize: none;
}

#note:focus {
    outline: 1px solid var(--accent-color);
}

#JSONfunctions {
    justify-content: center;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
}

footer p {
    color: white;
    margin: 0;
    text-align: center;
}

footer a {
    color: var(--highlight-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* UTILITY CLASSES */

/* align text in center */
.text-center {
    text-align: center;
}

.larger-text {
    font-size: 20px;
}