/* ==========================
        variables
=========================== */

/* color palette number 3 from https://digitalsynopsis.com/design/color-schemes-palettes/ */
:root {
    --navbar-color: #422680;
    --primary-color: #341671;
    --secondary-color: #280659;
    --accent-color: #660F56;
    --highlight-color: #AE2D68;
    --link-color: #F54952;
    --border-color: #ccc;
}

/* ==========================
        global styles
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(224, 220, 220);
}

h1 {
    color: var(--secondary-color);
    font-weight: 400;
}

h4 {
    padding-bottom: 10px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid grey;
    font-size: 20px;
}

li {
    font-size: 25px;
    cursor: pointer;
    gap: 4px;
}

/* style for typed inputs */
input[type="text"] {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: initial;
    text-align: center;
    font-size: 18px;
    color: var(--accent-color);
}

/* style for date inputs */
input[type="date"] { 
    border: solid 1px var(--border-color);
    min-width: 175px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background: var(--background-color);
}

/* ==========================
        nav bar
=========================== */

.navbar {
    background-color: var(--navbar-color);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
}

/* ul holding the navbar items */
.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
}

/* each li item */
.nav-item {
    display: inline-block;
}

/* each a link */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

/* hover on a link */
.nav-link:hover {
    color: var(--link-color);
}

/* ==========================
        buttons
=========================== */

.btn {
    border: 0.3px solid var(--border-color);
    height: 50px;
    width: 100px;
    transition: all 0.3s ease;
    background-color: var(--secondary-color);
    filter: opacity(50%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--highlight-color);
    color: white;
    border-color: white;
}

/* ==========================
        home page
=========================== */

.profile-container, .tasks-container {
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
    text-align: center;
    flex: 1.5;
}

.tasks-container {
    flex: 2;
}

#username {
    font-size: 25px;
    padding-bottom: 10px;
    color: var(--accent-color);
}

/* total tracked time variable */
#timeTracked {
    color: var(--highlight-color);
}

/* profile picture */
#profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* add task button */
#addButton {
    font-size: 16px;
    cursor: pointer;
}
    
/* todo list input */
#todoInput {
    height: 50px;
    width: 50%;
    border-radius: 3px;
    border: 0.06px solid;
    border-color: var(--border-color);
    padding: 0 10px;
    margin: 15px 0;
    font-size: 25px;
}

/* to do list text */
#todoList p {
    color: rgb(0, 0, 0);
    font-size: 28px;
    align-items: left;
    height: 25px;
}

#deleteData {
    width: 120px;
}

/* to do list container */
.todo-container {
    gap: 20px;
}

/* completed task */
.completed {
    text-decoration: line-through;
    color: var(--accent-color);
    cursor: pointer;
}

/* delete task button for each task */
.delete-btn {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

/* ==========================
        timer page
=========================== */

.timer-container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectSubject {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    transition: all 0.3s ease;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    margin-bottom: 10px;
}

/* values from easytimer.js */
.values {
    font-size: 25px;
    margin-bottom: 15px;
}

#customSessionName {
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#manualDate {
    height: 50px;
    border: 1px solid black;
}

#manualTime {
    height: 50px;
    width: 200px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* timer library from easytimer.js */
#chronoExample {
    padding: 20px;
    margin-top: 10px;
}

/* ==========================
        statistics page
=========================== */

#chartContainer {
    padding: 50px;
    max-width:800px;
    margin: auto;
}

#manualTimeForm {
    margin-top: 20px;
}

/* chart itself */
#studyChart {
    height: 400px;
}

#todoList {
    display: flex;
    flex-direction: column;
}

/* ==========================
        overview page
=========================== */

/* targets the welcome notice */
#activities-header {
    padding-bottom: 20px;
}

/* targets the subject, sessions and notes header */
.overview-header {
    border: 1px solid #ccc;
    font-size: 30px;
    padding: 5px;
}

.subject-container, .session-container {
    flex: 1;
}

.note-container {
    flex: 2;
}

/* subject and session list */
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    font-size: 22px;
    border: 1px solid var(--border-color);
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    flex-grow: 1;
    min-height: 50px;
}

/* hover over list items */
.list-item:hover {
    background-color: var(--highlight-color);
    filter: opacity(80%);
}

/* selected list item */
.active {
    background-color: var(--primary-color);
    filter: opacity(80%);
    color: white;
}

/* delete session button class to target multiple sessions */
.delete-session  {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
    margin-left: auto;
}

/* note input field */
#note {
    width: 100%;
    min-height: 500px;
    padding: 10px;
    border: 1px solid var(--border-color);
    font-size: 22px;
    line-height: 1.2;
    resize: none;
    background-color: var(--background-color);
}

/* clicked note field */
#note:focus {
    outline: none;
}

/* container for export and import data buttons */
#JSONfunctions {
    padding: 25px;
    gap: 5px;
}

#export-data, #import-data {
    cursor: pointer;
}

/* ==========================
        calendar page
=========================== */

#eventForm {
    padding: 15px;
}

#eventName {
    border: solid 1px var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    height: 50px;
}

#eventDate {
    height: 50px;
}

#calendarTable {
    margin: 10px;
}

/* add event button */
#addEvent {
    margin: 10px;
    border-radius: 5px;
}

/* delete event class to work for multiple events */
.deleteEvent {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

/* ==========================
        footer
=========================== */

/* footer */
footer {
    width: 100%;
    background-color: var(--navbar-color);
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
}

/* footer paragraph/text */
footer p {
    color: white;
    margin: 0;
    text-align: center;
}

/* footer link */
footer a {
    color: var(--link-color);
    text-decoration: none;
}

/* footer hover on link */
footer a:hover {
    text-decoration: underline;
}

/* ==========================
        utility classes
=========================== */

/* align text in center */
.text-center {
    text-align: center;
}

/* for larger text */
.larger-text {
    font-size: 20px;
}

/* center elements */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.container {
    display: flex;
    padding: 0;
    overflow-y: auto;
}

/* container header */
.container-header {
    padding-top: 50px;
    color: black;
    text-shadow: 0px 0px;
    font-weight: 500;
    text-align: center;
}

/* container fluid */
.container-fluid {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    min-height: 500px;
}